/********************************************************************/
/** 				Splash View. 									*/
/********************************************************************/

#SplashPanel{
	-fx-background-image: url("../image/Splash_Background.png");
	-fx-background-position: center;
	-fx-background-size: stretch;
	-fx-background-repeat: no-repeat ;
}


/********************************************************************/
/** 					Page View.									*/
/********************************************************************/

#PagePanel {
	
}


/********************************************************************/
/** 					Game Menu View.								*/
/********************************************************************/

#GameMenuPanel{
	-fx-background-color: transparent;
	-fx-background-image: url("../image/menu/Menu_Background.png");
	-fx-background-position: center;
	-fx-background-size: stretch;
	-fx-background-repeat: no-repeat ;
}


/********************************************************************/
/** 						Game View 								*/
/********************************************************************/

#GamePanel{
	-fx-background-image: url("../image/Game_Background.png");
	-fx-background-position: center;
	-fx-background-size: stretch;
	-fx-background-repeat: no-repeat ;
}

#SuccessCounter{
	-fx-text-fill: #D6DF23;
	-fx-content-display: text-only ;
}

#SuccessIcon{
	-fx-content-display: graphic-only  ;
	-fx-graphic: url("../image/SuccessLabel.png"); 
}

#FailureCounter{
	-fx-text-fill: #000;
	-fx-content-display: text-only ;
}
#FailureIcon{
	-fx-content-display: graphic-only  ;
	-fx-graphic: url("../image/FailureLabel.png"); 
}

/********************************************************************/
/** 				Expression View.								*/
/********************************************************************/

#ExpressionPanel{
	-fx-background-color: #A7BBBC;
	-fx-background-radius: 10px;

	-fx-border-color: #FFF;
	-fx-border-width: 0.3px;
	-fx-border-radius: 10px;
}

#ExpressionPanel Text{
	-fx-fill : #FFFFFF;
}


/********************************************************************/
/** 					Result View.								*/
/********************************************************************/

#ResultPanel{
	-fx-background-image: url("../image/Result_Background.png");
	-fx-background-position: center;
	-fx-background-size: stretch;
	-fx-background-repeat: no-repeat ;
}

#ResultRatioLabel{
	-fx-font-family: "nyala";
	-fx-font-size: 140px;
	-fx-text-fill: #f7f5f5;
}

#ResultTimeLabel{
	-fx-font-family: "nyala";
	-fx-font-size: 130px;
	-fx-text-fill: #f7f5f5;
}

#ResultSuccessLabel{
	-fx-font-family: "nyala";
	-fx-font-size: 110px;
	-fx-text-fill: #f7f5f5;
}

#ResultFailureLabel{
	-fx-font-family: "nyala";
	-fx-font-size: 80px;
	-fx-text-fill: #f7f5f5;
}
