
#QuestionPanel{
	
	-fx-background-color: #FFCCFF;  
    
    
}

#QuestionPanel Text{
	
	-fx-fill : #CCCCCC ;
    -fx-font-family: "Verdana";
    -fx-font-size: 70px;  
	
}




.ChoiceButton {
	/* 
	-fx-border-width: 2px;
	-fx-border-color: black;*/
    -fx-padding: -14px 0 0 0;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
.ChoiceButton:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
.ChoiceButton:selected {
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #a3C313 0%, #903b12 100%),
        #9d6624,
        #d8CC3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c5992c);
}

ToggleButton.ChoiceButton  {
	-fx-font-family: "Verdana";
	-fx-font-size: 78px;
    -fx-text-fill: #FFFFFF;

    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}
